:root {
    --light-color: #ffdead;
    --main-color : #3b2518;
    --dark-color : #1d120c;

    --basic-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.5);
    --basic-inner-shadow: inset 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.5);
    --basic-text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);

    --font-color : #ddd;
}

div.members {
    padding: 1rem;
    border-radius: 1rem;

    overflow: hidden;

    background-color: var(--dark-color);

    box-shadow: var(--basic-inner-shadow);
}
div.members h1
{
    font-size: 7rem;
    text-align: center;
}

div.slideshow {
    overflow: hidden;
    width: calc((15rem + 1rem) * 5 * 5);

    animation: slide 30s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

div.member {
    display: flex;
    flex-direction: column;
    align-items: center;

    float: left;

    width: 15rem;
    height: 23rem;
    margin-right: 1rem;
    border-radius: 1rem 1rem 0 0;

    background-color: var(--main-color);

    box-shadow: var(--basic-shadow);
    text-shadow: var(--basic-text-shadow);
}

div.member > img {
    width: 15rem;

    aspect-ratio: 1;

    margin-bottom: 2rem;

    object-fit: cover;

    border-radius: 1rem 1rem 0 0;
}

div.member-name {
    font-size: 1.5rem;
    font-weight: bold;
}

div.member-neptun {
    font-size: 1rem;
    font-style: italic;
}