body{
    display: flex;
    margin: 0 0 0 0;
    background-color: #3b2518;
    font-family: Bahnschrift;
    user-select: none;
}
#PageContainer
{
    overflow: hidden;
    width: 100vw;
}

.Header
{
    z-index: -1;
    height: 10vh;
    background-color: navajowhite;
}
.Header #ChocolateFlow
{
    z-index: -1;
    position: relative;
    top: 100%;
    width: 110%;
    left: -5%;
    height: 100%;
    background-color: transparent;
}

#MemberContainer
{
    padding: 1vw;
    background-color: #00000080;
    width: 80vh;
    border-radius: 2vw;
    aspect-ratio: 1 / 1.12;
    margin: 2vh auto 2vh auto;
    overflow: hidden;
    display: block;
}
#MemberContainer h1
{
    text-align: center;
    outline: black;
    margin: 1vh 0 0 0;
    font-size: 7vh;
    color: white;
}
.MemberRow
{
    margin: 2.5% 0 2.5% 0;
    height: 42%;
    display: flex;
}
.Member
{
    margin: auto;
    width: 30%;
    height: 100%;
    border-radius: 0.75vw;
    text-align: center;
    background-color: #f5f5dc60 ;
    overflow: hidden;
}
.Member img
{
    border-bottom: 10vh blue;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1;
}
.Member p
{
    margin-top: 0.4vh;
    font-size: 2.5vh;
    color: black;
}

#DetailContainer
{
    margin: 5% 0 1vh 5%;
    background-color: #ffffff40;
    border-radius: 1vw;
    width: 90%;
    aspect-ratio: 1 / 10;
    padding-top: 0.4vh;
}
#DetailContainer h1
{
    font-size: 15vh;
    text-align: center;
    color: white;
    filter: drop-shadow(-9px 10px 0 black);
    font-weight: bolder;
    letter-spacing: 1vw;
}
#WorkTable
{
    border-radius: 2vh;
    width: 90%;
    margin: auto;
    aspect-ratio: 3 / 1;
    border: 0.2vw solid navajowhite;
    border-spacing: 0;
    background-color: #00000030;

}
#WorkTable tr{
    height: 10%;
    text-align: center;
}
#WorkTable td{
    font-size: 3vh;
}
#WorkTable td:nth-child(1)
{
    width: 20%;
}
#WorkTable td:nth-child(1)
{
    width: 20%;
}
#WorkTable tr:nth-child(7) td
{
    border-top: 1vh solid navajowhite;
    border-right: none;
}
#WorkTable tr:nth-child(7) td:nth-child(1)
{
    text-align: center;
    font-weight: bolder;
    border-right: 1vh solid navajowhite;
}
#WorkTable tr td:nth-child(1)
{
    padding-left: 1vw;
    text-align: left;
}
#WorkTable td:nth-child(3)
{
    border-right: 0.5vw solid navajowhite;
}
#WorkTable tr:nth-child(1) td
{
    border-bottom: 0.2vw solid navajowhite;
}
#WorkTable tr:nth-child(even)
{
    background-color: #000000a0;
    color: white;
}
#WorkTable tr:nth-child(1)
{
    font-weight: bolder;
}
#ReferencesContainer
{
    width: 100%;
    height: 90vh;
    border-top: 1vh dashed black;
    overflow: hidden;
    border-bottom: 1vh dashed black;
}
#ReferenceSlider
{
    display: flex;
    position: relative;
    height: 100%;
    left: 0%;
    background-color: #00000050;
    width: 400%;
    transition: all ease-in-out 0.3s;
}
.SliderButton{
    background-color: transparent;
    margin-top: 40vh;
    position: absolute;
    z-index: 2;
    border: none;
    height: 10vh;
    text-align: center;
    font-size: 5vh;
    aspect-ratio: 1;
    transition: all ease-in-out 0.25s;
    color: white;
}
.SliderButtonLeft{
    border-radius: 0 100% 100% 0;
}
.SliderButtonRight{
    right: 5%;
    border-radius: 100% 0 0 100%;
}
.SliderButton:hover
{
    background-color: #00000040;
}
.SliderButton:active
{
    background-color: #00000050;
    transition: all ease-in-out 0.1s;
}
.SliderElement
{
    width: 25%;
    height: 100%;
}
.SliderElement:nth-child(odd)
{
    background-color: #ff000020;
}
.SliderElement:nth-child(even)
{
    background-color: #00ff0020;
}
